.wrapper
  = render partial: "groups/side_ber"
  .chat-main
    .main-header
      .current-group
        %h2.current-group__name 
          =@group.name
        %ul.member-list
          Member：
          =render 'member', collection: @members
      =link_to("/groups/#{@group[:id]}/edit") do
        .main-header__edit-btn
          Edit
    .messages
      =render partial: "message", collection: @messages
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: "type a message"
          = f.label :image, class: 'image-label' do
            = fa_icon 'picture-o', class: 'fa-image'
            = f.file_field :image, class: 'image-label__input'
        = f.submit 'Send', class: 'new_message__submit-btn'
        
